<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rartonne.appftur" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="+GF+"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".HomeActivity"
            android:label="+GF+" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NetmapActivity"
            android:label="@string/title_activity_netmap" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".MaintenanceActivity"
            android:label="@string/title_activity_maintenance" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ManualLoginActivity"
            android:label="@string/title_activity_manual_login" >
        </activity>
        <activity
            android:name=".JobDataActivity"
            android:label="@string/title_activity_ecard" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDlJYEMdXFgls7Fj2IW3Fh1DCV_8qA3S4U" />

        <activity
            android:name=".GeoPositionActivity"
            android:label="@string/title_activity_geo_position" >
        </activity>
        <activity
            android:name=".InstallationDataActivity"
            android:label="@string/title_activity_installation_data" >
        </activity>
        <activity
            android:name=".WeldingActivity"
            android:label="@string/title_activity_welding"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rartonne.appftur.HomeActivity" />
        </activity>
        <activity
            android:name=".ScanlogActivity"
            android:label="@string/title_activity_scanlog" >
        </activity>
        <activity
            android:name=".InstallationManualActivity"
            android:label="@string/title_activity_installation_manual" >
        </activity>
        <activity
            android:name=".SecIdDataActivity"
            android:label="@string/title_activity_sec_id_data" >
        </activity>
        <activity
            android:name=".InstallationData2Activity"
            android:label="@string/title_activity_installation_data2" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".PicturesActivity"
            android:label="@string/title_activity_pictures" >
        </activity>
        <activity
            android:name=".ZoomActivity"
            android:label="@string/title_activity_zoom" >
        </activity>

        <activity
            android:name=".CommentListActivity"
            android:label="@string/title_activity_comment_list" >
        </activity>
        <activity
            android:name=".ReadCommentActivity"
            android:label="@string/title_activity_read_comment" >
        </activity>
        <activity
            android:name=".InitActivity"
            android:label="@string/title_activity_init" >
        </activity>
    </application>

</manifest>
